**Assignment 3**

**Qno1 : Write a Python program to print the following string in a specific format (see the
output)**

In [4]:
print("""Twinkle, twinkle, little star,
                  How I wonder what you are!
                          Up above the world so high,
                          Like a diamond in the sky.
Twinkle, twinkle, little star,
         How I wonder what you are""")

Twinkle, twinkle, little star,
                  How I wonder what you are!
                          Up above the world so high,
                          Like a diamond in the sky.
Twinkle, twinkle, little star,
         How I wonder what you are

In [5]:
print("""Twinkle, twinkle, little star,
\t How I wonder what you are!
\t\tUp above thw world so high,
\t\t Like a diamond in the sky,
Twinkle, twinkle, little star,
\tHow I wonder what you are""")

Twinkle, twinkle, little star,
	 How I wonder what you are!
		Up above thw world so high,
		 Like a diamond in the sky,
Twinkle, twinkle, little star,
	How I wonder what you are

**Qno2: Write a Python program to get the Python version you are using**

In [6]:
import sys

In [7]:
print("My python version is: ", sys.version)

My python version is:  3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]

**Qno3: Write a Python program to display the current date and time.**

In [10]:
from datetime import datetime
print("Current date and time is",datetime.now())

Current date and time is 2024-08-03 10:20:39.137733

**Qno4. Write a Python program which accepts the radius of a circle from the user and compute
the area.**

In [13]:
import math as m
r = float(input("Enter the radius of circle: "))
area = m.pi*(r**2)
print("The area of circle is:",area)

Enter the radius of circle:  5

The area of circle is: 78.53981633974483

**Qno5. Write a Python program which accepts the user's first and last name and print them in
reverse order with a space between them**

In [15]:
x = str(input("Enter your first name: "))
y = str(input("Enter your last name: "))
print(y," ",x)

Enter your first name:  Zaryab
Enter your last name:  Khan

Khan   Zaryab

**Qno6. Write a python program which takes two inputs from user and print them addition**

In [16]:
x = float(input("Enter 1st num:"))
y= float(input("Enter 2nd num:"))
print("sum =",x+y)

Enter 1st num: 5.5
Enter 2nd num: 6

sum = 11.5

**Qno7. Write a program which takes 5 inputs from user for different subjectâ€™s marks, total it
and generate mark sheet using grades**

In [22]:
subj1 = float(input("Enter marks of 1st Subj :")) 
subj2 = float(input("Enter marks of 2nd Subj :")) 
subj3 = float(input("Enter marks of 3rd Subj :"))
subj4 = float(input("Enter marks of 4th Subj :")) 
subj5 = float(input("Enter marks of 5th Subj :")) 
Obtained_Marks = subj1+subj2+subj3+subj4+subj5
Total_Marks = float(input("Enter the total marks:"))
percentage = (Obtained_Marks/Total_Marks)*100
if percentage>= 80:
    grade="A+"
elif 80<percentage>70:
    grade="A"
elif 70<percentage>=60:
    grade="B"
elif 60<percentage>=50:
    grade="C"
else:
    grade="Fail"
print("Total Marks =",Total_Marks,"\nObtained Marks=",Obtained_Marks,"\nPercetage=",percentage, "%","\nGrade=",grade)

Enter marks of 1st Subj : 95
Enter marks of 2nd Subj : 65
Enter marks of 3rd Subj : 87
Enter marks of 4th Subj : 96
Enter marks of 5th Subj : 80
Enter the total marks: 500

Total Marks = 500.0
Obtained Marks= 423.0
Percetage= 84.6 %
Grade= A+

**Qno8: Write a program which take input from user and identify that the given number is even
or odd?**

In [23]:
x = float(input("Enter a number: "))
if x%2==0:
    print(x, "is a even number")
else:
    print(x, "is a odd number")

Enter a number:  95

95.0 is a odd number

**Qno9. Write a program which print the length of the list**

In [26]:
z = [1,2,3,4,5,6]
len(z)

6

**Qno10. Write a Python program to sum all the numeric items in a list**

In [27]:
items = ["Fruit",2,"Banana","Ali",7,"Ahmed",8,-1]
sum=0
for i in items:
    if isinstance(i, (int,float)):
        sum +=i
print("The sum of all the numeric values are:",sum)

The sum of all the numeric values are: 16

**Qno11. Write a Python program to get the largest number from a numeric list.**

In [28]:
List = [1,2,3,4,5,6,7,-9]
print(max(List))

7

In [29]:
List = [1,2,3,4,5,6,7,-9]
largest_num=List[0]
for i in List:
    if i>largest_num:
        largest_num=i
print(largest_num)

7

**Qno12.Take a list, say for example this one:a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]Write a program that prints out all the elements of the list that are less than 5.**

In [31]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
    if i<5:
        print(i)

1
1
2
3